.info{
    background-color: rgb(0, 157, 255);
    border-radius: 100px;
    padding-left:150px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    color:white;
}